<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
    <title>Calculator</title>
</h:head>

<h:body>
    <h:form id="calculator-form">
        <p:messages id="messages" showDetail="true" closable="true">
            <p:autoUpdate/>
        </p:messages>
        <p:panel id="panel" header="Fill expression">
            <h:panelGrid columns="5" cellpadding="6">
                <h:outputText value="Arg 1: "/>
                <h:outputText value="Unit: "/>
                <h:outputText value="Operator: "/>
                <h:outputText value="Arg 2: "/>
                <h:outputText value="Unit: "/>

                <p:inputNumber id="arg1" value="#{calculatorView.expression.arg1.value}" decimalPlaces="5"/>
                <h:selectOneMenu value="#{calculatorView.expression.arg1.unit}">
                    <f:selectItems value="#{selectItemView.units}"/>
                </h:selectOneMenu>

                <h:selectOneMenu value="#{calculatorView.expression.operator}">
                    <f:selectItems value="#{selectItemView.operators}" var="operator"
                                   itemValue="#{operator}" itemLabel="#{operator.label}"/>
                </h:selectOneMenu>

                <p:inputNumber id="arg2" value="#{calculatorView.expression.arg2.value}" decimalPlaces="5"/>
                <h:selectOneMenu value="#{calculatorView.expression.arg2.unit}">
                    <f:selectItems value="#{selectItemView.units}"/>
                </h:selectOneMenu>

                <p:commandButton value="Calculate" id="ajax" update="dialog"
                                 actionListener="#{calculatorView.calculate}"
                                 styleClass="ui-priority-primary"/>

            </h:panelGrid>
        </p:panel>
        <p:separator/>
        <p:dialog id="dialog" header="Result" widgetVar="dialog"
                  modal="true" resizable="false" >
            <h:panelGrid id="result-panel" columns="3" cellpadding="4">
                <p:outputLabel for="result-text" value="Result: "/>
                <h:outputText id="result-text" value="#{calculatorView.expression.result.value}"/>
                <h:selectOneMenu value="#{calculatorView.expression.result.unit}" valueChangeListener="#{calculatorView.recalculateResultListener}">
                    <f:selectItems value="#{selectItemView.units}"/>
                    <f:ajax event="change" execute="@form" render="result-panel"/>
                </h:selectOneMenu>
                <p:commandButton value="Save" update="panel history"
                                 actionListener="#{calculatorView.save()}"
                                 styleClass="ui-priority-primary"/>
            </h:panelGrid>
        </p:dialog>

        <p:outputLabel value="History "/>
        <p:dataTable id="history" var="expression" value="#{calculatorView.tableData}"
                     paginator="true" rows="10"
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     rowsPerPageTemplate="5,10,15" paginatorPosition="bottom">
            <p:column headerText="Id">
                <h:outputText value="#{expression.id}"/>
            </p:column>

            <p:column headerText="Arg 1:">
                <h:outputText value="#{expression.arg1.value}"/>
            </p:column>
            <p:column headerText="Unit:">
                <h:outputText value="#{expression.arg1.unit}"/>
            </p:column>

            <p:column headerText="Operator">
                <h:outputText value="#{expression.operator}"/>
            </p:column>

            <p:column headerText="Arg 2:">
                <h:outputText value="#{expression.arg2.value}"/>
            </p:column>
            <p:column headerText="Unit:">
                <h:outputText value="#{expression.arg2.unit}"/>
            </p:column>

            <p:column headerText="Result:">
                <h:outputText value="#{expression.result.value}"/>
            </p:column>
            <p:column headerText="Unit:">
                <h:outputText value="#{expression.result.unit}"/>
            </p:column>

            <p:column>
                <p:commandButton icon="ui-icon-trash"
                                 title="Delete record"
                                 actionListener="#{calculatorView.remove(expression)}"
                                 ajax="false" />
            </p:column>
        </p:dataTable>




    </h:form>
</h:body>
</html>